*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

.col-lg-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

#NavBar{
    background-color: #11111f !important;
}

#logo{
    width: 125px !important;
}

#btnProcurar{
    color: #ffff !important;
    border-color: #050566 !important;
}

#btnProcurar:hover{
    background-color: #050566 !important;
}

#textFooter{
    font-size: 20px;
    padding-top: 15px;
}

#textTitulo{
    color: #ffff;
    font-size: 50px;
    padding-left: 130px;
}

#TextAlto{
    text-align: center;
}

#OrdemDest{
    font-size: 20px;
    display: flex;
}

#CardNotiAberta{
    display: none;
}


